.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(27, 23, 30, 1);
  color: #fff;
  padding: 1rem 2rem;
}
.term span {
  text-decoration: underline;
}
.term span:not(:last-child) {
  margin-right: 1.5rem;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-link a {
  padding: 0 0.5rem;
}

.social-link img {
  width: 25px;
}

@media (max-width: 875px) {
  .footer {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .footer > * {
    margin: 0.5rem;
  }
}
